<header>
  <h1>{{ title }}</h1>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a [routerLink]="['directory']">Directory</a></li>
    </ul>
  </nav>
</header>
<section id="main">
  <router-outlet></router-outlet>
</section>
