<h2>Ninja Listing</h2>

<form id="filter">
  <label>Filter ninjas by name:</label>
  <input name="term" type="text" [(ngModel)]="term" />
</form>
<ul id="ninja-listing">
  <li *ngFor="let ninja of ninjas | filter: term">
    <div class="single-ninja">
      <!-- Belt Color -->
      <span [ngStyle]="{ background: ninja.belt }">{{ ninja.belt }} belt</span>
      <!-- Ninja Name -->
      <h3>{{ ninja.name }}</h3>
      <!-- <div (click)="remove($event)" [attr.data-name]="ninja.name">delete</div> -->
    </div>
  </li>
</ul>
